<div class="card m-2 p-3 shadow-sm p-3 mb-5 bg-body rounded">
  <img src="{{pet.pet_img}}" class="card-img-top img-fluid rounded" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{pet.pet_name}}</h5>
    <p class="card-text">{{pet.pet_desc}}</p>
    <p class="card-text">{{pet.pet_age}}</p>
    <p class="card-text">{{pet.pet_breed}}</p>
  </div>
</div>